
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Branchs</h1>
  <label class="badge badge-info">{{branchList.length}} branch(s)</label>
  <button (click)="addBranch()" class="float-right btn btn-success has-icon btn-rounded">
    <i class="fas fa-plus"></i>Add</button>
  </div>

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div *ngFor="let branch of branchList"  class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{branch.code}}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <div *ngIf="branch.addressInfo">{{branch.addressInfo.address1}} {{branch.addressInfo.city}}</div>

              </div>
            </div>
            <div class="col-auto">
              <button class="btn action-btn btn-xs component-flat" type="button" (click)="editBranch(branch)" >
                <i class="fas fa-edit"></i></button>
                <button class="btn action-btn btn-xs component-flat" type="button" (click)="branchDetails(branch)"  >
                  <i class="fas fa-info-circle"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
   
  </div>


