<div class="modal-header new_p0p_qq">
  <button type="button" class="close clsebtn_newdesign" (click)="bsModalRef.hide()"
    data-dismiss="modal">&times;</button>
</div>
<div class="modal-body feedback-modal-body">

  <div class="grid">
    <p class="grid-header">Add/Edit {{levelName}}</p>
    <div class="grid-body">
      <div class="item-wrapper">

        <form [formGroup]="standardForm" (ngSubmit)="onSubmit()">

          <div class="row mb-3">
            <div class="col-md-12 mx-auto">
                <div *ngIf="this.model.hierarchyLevel>1 && model.id==0" class="form-group row showcase_row_area">
                    <div class="col-md-3 showcase_text_area">
                      <label for="inputType5">{{parentLevelName|translate}}</label>
                    </div>
                    <div class="col-md-9 showcase_content_area">
                      <select formControlName="parent" class="custom-select"  [ngClass]="{ 'is-invalid': submitted && f.parent.errors }" >
                        <option [ngValue]="null">Select</option>
                        <option [ngValue]="parent" *ngFor="let parent of getParentList()" >
                            {{parent.name}}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.parent.errors" class="invalid-feedback">
                      <div *ngIf="f.parent.errors.required">Plese select {{parentLevelName}}</div>
                    </div>
                    </div>
                  </div>
              <div class="form-group row showcase_row_area">
                <div class="col-md-3 showcase_text_area">
                  <label for="inputType5">{{levelName|translate}} Name </label>
                </div>
                <div class="col-md-9 showcase_content_area">
                  <input type="text" formControlName="standard" maxlength="50" class="form-control" placeholder="{{levelName}}"
                    [ngClass]="{ 'is-invalid': submitted && f.standard.errors }" />
                  <div *ngIf="submitted && f.standard.errors" class="invalid-feedback">
                    <div *ngIf="f.standard.errors?.required">{{levelName}} is required</div>
                    <div *ngIf="f.standard.errors?.minlength">{{levelName}} must be at least 3 characters long.</div>
                  </div>
                </div>
              </div>
              <div class="form-group row showcase_row_area">
                  <div class="col-md-5 showcase_text_area">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              </div>
            </div>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<div class="modal-footer height56px">

</div>