
    <div class="sidebar">
    <div class="user-profile">
      <div class="display-avatar animated-avatar">
        <img class="profile-img img-lg rounded-circle" src="../assets/images/profile/male/image_1.png" alt="profile image">
      </div>
      <div class="info-wrapper">
        <p class="user-name">Allen Clerk</p>
        <h6 class="display-income">$3,400,00</h6>
      </div>
    </div>
    <ul class="navigation-menu">
      <li class="nav-category-divider">MAIN</li>
      <li>
          <a class="nav-link" [routerLink]="['./dashboard']" [routerLinkActive]="'is-active'">
              <span>Dashboard</span> 
              <i class="mdi mdi-gauge link-icon"></i>
          </a>
        
      </li>
      <li>
        <a  href="#settings-pages" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">Settings</span>
          <i class="mdi mdi-flask link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="settings-pages">
          <li>
              <a class="nav-link" [routerLink]="['./settings/org']" [routerLinkActive]="'is-active'">
                <span>Organization</span> 
                
            </a>
          
          </li>
          <li>
              <a class="nav-link" [routerLink]="['./settings/standards']" [routerLinkActive]="'is-active'">
                <span>Standards</span> 
                
            </a>
          </li>
          <li>
              <a class="nav-link" [routerLink]="['./settings/course']" [routerLinkActive]="'is-active'">
                <span>Course</span> 
                
            </a>
          </li>
          <li>
              <a class="nav-link" [routerLink]="['./settings/subject']" [routerLinkActive]="'is-active'">
                <span>Subject</span> 
                
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#ui-elements" data-toggle="collapse" aria-expanded="false">
          <span class="link-title">UI Elements</span>
          <i class="mdi mdi-bullseye link-icon"></i>
        </a>
        <ul class="collapse navigation-submenu" id="ui-elements">
          <li>
            <a >Buttons</a>
          </li>
          <li>
            <a >Tables</a>
          </li>
          <li>
            <a >Typography</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="pages/forms/form-elements.html">
          <span class="link-title">Forms</span>
          <i class="mdi mdi-clipboard-outline link-icon"></i>
        </a>
      </li>
      <li>
        <a href="pages/charts/chartjs.html">
          <span class="link-title">Charts</span>
          <i class="mdi mdi-chart-donut link-icon"></i>
        </a>
      </li>
      <li>
        <a href="pages/icons/material-icons.html">
          <span class="link-title">Icons</span>
          <i class="mdi mdi-flower-tulip-outline link-icon"></i>
        </a>
      </li>
      <li class="nav-category-divider">User</li>
      <li>
        <a (click)="signOut()" >
          <span class="link-title">Logout</span>
          <i class="mdi mdi-logout link-icon"></i>
        </a>
      </li>
    </ul>
  </div>
  