<div class="modal-header new_p0p_qq">
  <button type="button" class="close clsebtn_newdesign" (click)="bsModalRef.hide()"
    data-dismiss="modal">&times;</button>
</div>
<div class="modal-body feedback-modal-body">

  <div class="grid">
    <p class="grid-header">Add/Edit {{levelName}}</p>
    <div class="grid-body">
      <div class="item-wrapper">

        <form [formGroup]="standardForm" (ngSubmit)="onSubmit()">

          <div class="row mb-3">
            <div class="col-md-12 mx-auto">
              <div *ngIf="this.model.hierarchyLevel>1 && model.id==0" class="form-group row showcase_row_area">


                <mat-form-field>
                  <mat-select placeholder="{{parentLevelName|translate}}" [formControl]="f.parent">

                    <mat-option *ngFor="let parent of getParentList()" [value]="parent">{{parent.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.parent.errors?.required">
                    Plese select {{parentLevelName}}
                  </mat-error>

                </mat-form-field>

              </div>
              <div class="form-group row showcase_row_area">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{levelName|translate}} Name" [formControl]="f.standard">
                  <mat-error *ngIf="submitted && f.standard.errors?.required">
                    {{levelName}} Year is required
                  </mat-error>
                  <mat-error *ngIf="submitted && f.standard.errors?.minlength">
                    {{levelName}} Year must be at least 3 characters long.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group row showcase_row_area">
                <div class="col-md-5 showcase_text_area">
                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                  </button>
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
              </div>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<div class="modal-footer height56px">

</div>