<div class="col-md-12 col-sm-12 col-lg-12">
  <div class="card">
    <div class="card-header">Student Details<div class="pull-right"><span><a class="btn btn-sm btn-secondary"
            href="/branches/3993/students/1817331/edit"><i
              class="fa fa-edit"></i>&nbsp;edit</a></span><span> </span><span><a
            class="btn btn-sm btn-secondary" target="_blank" href="/branches/3993/students/1817331.pdf"><i
              class="fa fa-download"></i>&nbsp;Download</a></span></div>
    </div>
    <div>
      <table class="table m-0">
        <tbody>
          <tr>
            <td class="fit"><i class="fa fa-hand-pointer-o"></i></td>
            <td>938</td>
          </tr>
          <tr>
            <td><i class="fa fa-list-alt"></i></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fa fa-user"></i></td>
            <td>AANCHAL JHA</td>
          </tr>
          <tr>
            <td><i class="fa fa-mobile-phone"></i></td>
            <td>8340217076</td>
          </tr>
          <tr>
            <td><i class="fa fa-phone"></i></td>
            <td>-</td>
          </tr>
          <tr>
            <td><i class="fa fa-envelope"></i></td>
            <td>aanchaljha21072001@gmail.com</td>
          </tr>
          <tr>
            <td><i class="fa fa-birthday-cake"></i></td>
            <td>21 Jul, 2001</td>
          </tr>
          <tr>
            <td><i class="fa fa-home"></i></td>
            <td>SIRSI<br>Sitamarhi,&nbsp;Bihar&nbsp;-&nbsp;843333</td>
          </tr>
          <tr>
            <td><i class="fa fa-building"></i></td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Guardians<small><a class="pull-right btn btn-primary btn-sm" data-remote="true"
          href="/branches/3993/students/1817331/guardians/new"><i class="fa fa-plus"></i>&nbsp;new</a><a
          class="mr-1 pull-right btn btn-secondary btn-sm" data-turbolinks="false" href="#" id="reorder"><i
            class="fa fa-reorder"></i> reorder</a></small></div>
    <div id="classpro-guardians">
      <table class="table m-0">
        <tbody id="sortable-list">
          <tr data-guardians-id="1062014"
            data-reorder-url="/branches/3993/students/1817331/guardians/1062014/reorder">
            <td class="handle fit" style="display:none;"><small><span
                  class="tag tag-default">Drag</span></small></td>
            <td class="text-xs-left">Mr. PARAS JHA<div><span class="mr-1"><i
                    class="fa fa-mobile-phone"></i></span><span class="text-muted">8294827567</span></div>
            </td>
            <td class="text-xs-right">
              <div class="btn-group dropdown text-xs-right"><a class="btn btn-secondary" data-toggle="dropdown"
                  data-turbolinks="false" href="#" style="border-color:#fff;"><i
                    class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right" id="order">
                  <li class="text-right"><a class="dropdown-item" data-remote="true"
                      href="/branches/3993/students/1817331/guardians/1062014/edit"><i
                        class="fa fa-edit"></i>&nbsp;edit</a></li>
                  <li class="divider"></li>
                  <li class="text-right"><a data-confirm="Are you sure you want to delete this Guardian?"
                      class="dropdown-item text-danger" data-remote="true" rel="nofollow" data-method="delete"
                      href="/branches/3993/students/1817331/guardians/1062014"><i
                        class="fa fa-trash"></i>&nbsp;delete</a></li>
                </ul>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
