<form [formGroup]="form">

  <div class="form-group row showcase_row_area">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [formControl]="f.name">
      <mat-error *ngIf="submitted && f.name.errors?.required">
        name is required
      </mat-error>
      <mat-error *ngIf="submitted && f.name.errors?.minlength">
        name must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>
  

  <div class="form-group row showcase_row_area">
      <mat-form-field appearance="outline">
          <mat-label>Address Line 1</mat-label>
      <input matInput placeholder="Address Line 1" [formControl]="f.address1">
      <mat-error *ngIf="submitted && f.address1.errors?.required">
        Address Line 1 is required
      </mat-error>
      <mat-error *ngIf="submitted && f.address1.errors?.minlength">
        Address Line 1 must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group row showcase_row_area">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address Line 2" [formControl]="f.address2">
      <mat-error *ngIf="submitted && f.address2.errors?.required">
        Address Line 2 is required
      </mat-error>
      <mat-error *ngIf="submitted && f.address2.errors?.minlength">
        Address Line 2 must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group row showcase_row_area">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" [formControl]="f.city">
      <mat-error *ngIf="submitted && f.city.errors?.required">
        City is required
      </mat-error>
      <mat-error *ngIf="submitted && f.city.errors?.minlength">
        City must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group row showcase_row_area">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Zipcode" [formControl]="f.zipcode">
      <mat-error *ngIf="submitted && f.zipcode.errors?.required">
        Zipcode is required
      </mat-error>
      <mat-error *ngIf="submitted && f.zipcode.errors?.minlength">
        Zipcode must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group row showcase_row_area">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="State" [formControl]="f.state">
      <mat-error *ngIf="submitted && f.state.errors?.required">
        State is required
      </mat-error>
      <mat-error *ngIf="submitted && f.state.errors?.minlength">
        State must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group row showcase_row_area">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Country" [formControl]="f.country">
      <mat-error *ngIf="submitted && f.country.errors?.required">
        Country is required
      </mat-error>
      <mat-error *ngIf="submitted && f.country.errors?.minlength">
        Country must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>


</form>