<a mat-button [routerLink]="['./students']"> Students </a>
<a mat-button [routerLink]="'/admin/dashboard'"> Dashboard </a>

<button mat-button [matMenuTriggerFor]="ReportsMenu"  >
    <span>Reports</span>
    <i class="mdi mdi-14px mdi-arrow-down-drop-circle-outline link-icon"></i>
  </button>
  <a mat-button [routerLink]="'/admin/followups'">  Follow-ups </a>

  <a mat-button [routerLink]="'/admin/activities'">  Activities </a>

<mat-menu #ReportsMenu="matMenu" yPosition="below">
  <button mat-menu-item [routerLink]="'/admin/reports/admissions'">Admissions</button>
  <button mat-menu-item [routerLink]="'/admin/reports/fees'">Fees</button>
  <button mat-menu-item [routerLink]="'/admin/reports/enquiry'">Enquiries</button>
  <button mat-menu-item [routerLink]="'/admin/reports/expenses'">Expense</button>

</mat-menu>
