<div class="content-viewport">
  <p class="grid-header demo-wrapper">
    <span>Student Info</span>

  </p>
  <span [routerLink]="['../../']"  class="float-right btn btn-success has-icon btn-rounded">
    Back</span>
  <span class="float-none"></span>

  <div class="item-wrapper">

      <mat-horizontal-stepper linear="true" #stepper>
        <mat-step [stepControl]="frmStepOne">
            <ng-template matStepLabel>Student Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        <mat-step [stepControl]="frmStepTwo">
            <ng-template matStepLabel>Guardian Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        <mat-step [stepControl]="frmStepThree">
            <ng-template matStepLabel>Admission Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
       <!-- <mat-step [stepControl]="frmStepThree">
            <ng-template matStepLabel>Payment Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        <mat-step [stepControl]="frmStepThree">
            <ng-template matStepLabel>Batch Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        -->
    </mat-horizontal-stepper>

  </div>
</div>