
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Student Info</h1>
    <a [routerLink]="['../../']" class="d-none d-sm-inline-block btn btn-sm btn-success btn-rounded shadow-sm"><i class="fas fa-fw fa-arrow-left"></i> Back</a>
    
  </div>

<div class="content-viewport">
  

  <div class="item-wrapper">

      <mat-horizontal-stepper linear="true" #stepper>
        <mat-step [stepControl]="frmStepOne">
            <ng-template matStepLabel>Student Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        <mat-step [stepControl]="frmStepTwo">
            <ng-template matStepLabel>Guardian Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        <mat-step [stepControl]="frmStepThree">
            <ng-template matStepLabel>Admission Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
       <!-- <mat-step [stepControl]="frmStepThree">
            <ng-template matStepLabel>Payment Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        <mat-step [stepControl]="frmStepThree">
            <ng-template matStepLabel>Batch Details</ng-template>
            <ved-std-profile></ved-std-profile>
        </mat-step>
        -->
    </mat-horizontal-stepper>

  </div>
</div>