<div class="authentication-theme auth-style_1">
    <div class="row">
      <div class="col-12 logo-section">
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
        <div class="grid">
          <div class="grid-body">
            <div class="row">
              <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group input-rounded">
                    <input type="text" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group input-rounded">
                    <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="form-inline">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="form-check-input" />Remember me <i class="input-frame"></i>
                      </label>
                    </div>
                  </div>

                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                  </button>
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auth_footer">
      <p class="text-muted text-center">© Test Inc 2019</p>
    </div>
  </div>
