<div class="modal-header new_p0p_qq">
  <button type="button" class="close clsebtn_newdesign" (click)="bsModalRef.hide()"
    data-dismiss="modal">&times;</button>
</div>
<div class="modal-body feedback-modal-body">

  <div class="grid">
    <p class="grid-header">Add/Edit Course</p>
    <div class="grid-body">
      <div class="item-wrapper">

        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

            <div class="card">
                
                <div class="card-body">
                  <div class="form-row">
      
                    <div class="form-group col-md-12 showcase_row_area">
                      <mat-form-field class="example-full-width ">
                        <input matInput placeholder="Course Name" [formControl]="f.name" maxlength="50">
                        <mat-error *ngIf="f.name.errors?.required">
                          required
                        </mat-error>
                        <mat-error *ngIf="f.name.errors?.minlength">
                          at least two characters required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    
                  </div>

                  <div class="form-row">
      
                      <div class="form-group col-md-12 showcase_row_area">
                        <mat-form-field class="example-full-width ">
                          <input matInput numeric numericType="decimal" placeholder="Course Fees" [formControl]="f.courseCost" maxlength="10">
                          <mat-error *ngIf="f.courseCost.errors?.required">
                            required
                          </mat-error>
                          <mat-error *ngIf="f.courseCost.errors?.minlength">
                            at least two characters required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6 showcase_row_area">
                        <mat-form-field class="example-full-width ">
                          <input matInput numeric numericType="decimal" placeholder="Course Fees" [formControl]="f.duration" maxlength="10">
                          <mat-error *ngIf="f.duration.errors?.required">
                            required
                          </mat-error>
                          <mat-error *ngIf="f.duration.errors?.minlength">
                            at least two characters required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-6 showcase_row_area">
                      <mat-form-field>
                        <mat-select placeholder="Duration" [formControl]="f.durationUOM">
      
                          <mat-option *ngFor="let duration of durationList" [value]="duration.ID">{{duration.Text}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="submitted && f.durationUOM.errors?.required">
                          Plese select course duration
                        </mat-error>
      
                      </mat-form-field>
                    </div>
                    </div>

                    <div class="form-row">
      
                      <div class="form-group col-md-6 showcase_row_area">
                        <div>Select Subject</div>
                        <div class="list-group">
                          <ul class="list-group list-group-flush">
                            <li *ngFor="let subj of SubjectList"  class="list-group-item">{{subj.name}}
                              <ul class="list-group list-group-flush">
                                <li *ngFor="let child of getChild(subj.id)" (click)="add(child)" class="list-group-item">{{child.name}}</li>
                                  
                              </ul>
                            </li>
                          </ul>
                          
                        </div>
                      </div>
                      <div class="form-group col-md-6 showcase_row_area">
                        <div>Selected Subject</div>
                        <div class="list-group">
                          <ul class="list-group list-group-flush">
                            <li *ngFor="let subj of SelectedSubjectList" class="list-group-item">{{subj.name}}
                              <ul class="list-group list-group-flush">
                                <li *ngFor="let child of subj.child" (click)="remove(child)" class="list-group-item">{{child.name}}</li>
                                  
                              </ul>
                            </li>
                          </ul>
                          
                        </div>
                      </div>
                      
                    </div>

                    <div class="form-row">
                      <div class="col-md-5 showcase_text_area">
                        <button [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Submit
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                      </div>
                    </div>
                 
                </div>
              </div>

          


        </form>

      </div>
    </div>
  </div>
</div>
<div class="modal-footer height56px">

</div>