
    <nav class="t-header">
    <div class="t-header-brand-wrapper">
      <a >
        <img class="logo" src="../assets/images/logo.svg" alt="">
        <img class="logo-mini" src="../assets/images/logo_mini.svg" alt="">
      </a>
    </div>
    <div class="t-header-content-wrapper">
      <div class="t-header-content">
        <button (click)="mobieViewClieck()" class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
          <i class="mdi mdi-menu"></i>
        </button>
        <ved-cust-header></ved-cust-header>
        <ved-brc-nav></ved-brc-nav>
      </div>
    </div>
  </nav>
 