<div class="grid">

  <div class="card mb-4 py-3 border-left-info">
    <div class="card-body">
      profile Settings


    </div>
  </div>

  <div class="row">

    <div class="col-lg-7">
      <div class="grid">

        <div class="grid-body">
          <div class="item-wrapper">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
              <div class="form-group input-rounded">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{'CURRENT_PWD'|translate}}" [formControl]="f.password"
                    [type]="'password'">
                  <mat-error *ngIf="submitted && f.password.errors?.required">
                    {{'MGS_CUR_PWD_REQUIRED'|translate}}
                  </mat-error>

                </mat-form-field>


              </div>
              <div class="form-group input-rounded">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{'NEW_PWD'|translate}}" [formControl]="f.newPassword"
                    (keyup)="passwordStrength();" [type]="'password'">
                  <mat-error *ngIf="submitted && f.newPassword.errors?.required">
                    {{'MGS_NEW_PWD_REQUIRED'|translate}}
                  </mat-error>

                </mat-form-field>
                <div *ngIf="PwdStrengthPower.isShow">
                  <div class="col-xs-12 rdPaddingRight0px rdPaddingLeft0px rdAlignRight">
                    <span> {{PwdStrengthPower.text}}</span>
                  </div>
                  <div class="password-strength-content">
                    <span [class]="PwdStrengthPower.className"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-rounded">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{'CONFIRM_PWD'|translate}}" [formControl]="f.confirmPassword"
                    [type]="'password'" maxlength="20">
                  <mat-error *ngIf="submitted && f.confirmPassword.errors?.required">
                    {{'MGS_CONFIRM_PWD_REQUIRED'|translate}}
                  </mat-error>
                  <mat-error *ngIf="submitted && f.confirmPassword.errors?.MatchPassword">
                    {{'Confirm Password not match'|translate}}
                  </mat-error>

                </mat-form-field>

              </div>
              <button [disabled]="loading" class="btn btn-sm btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{'SUBMIT'|translate}}
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>



            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="grid">
        <div class="grid-body">
          <p class="card-title ml-n1">{{'PWD_POLICY'|translate}}</p>
          <span>{{'PWD_MAX_CHAR'|translate}}</span>
          <ul>
            <li> {{'PWD_UPR_CHAR'|translate}} </li>
            <li> {{'PWD_LWR_CHAR'|translate}} </li>
            <li> {{'PWD_SPL_CHAR'|translate}} </li>
            <li>{{'PWD_DGT_CHAR'|translate}} </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>