<div class="content-viewport">
    <div class="row">
        <div class="col-lg-12">
            <p class="grid-header">{{'CHANGE_PWD'|translate}}</p>
        </div>
      
        
      <div class="col-lg-7">
          <div class="grid">
              
              <div class="grid-body">
                <div class="item-wrapper">
                  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group input-rounded">
                      <label for="inputEmail1">{{'CURRENT_PWD'|translate}}</label>
                      <input type="password" maxlength="20" class="form-control" formControlName="password" placeholder="{{'ENTER_CURRENT_PWD'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">{{'MGS_CUR_PWD_REQUIRED'|translate}}</div>
                      </div>
                    </div>
                    <div class="form-group input-rounded">
                      <label for="inputPassword1">{{'NEW_PWD'|translate}}</label>
                      <input type="password" maxlength="20" class="form-control" formControlName="newPassword" (keyup)="passwordStrength();" placeholder="{{'ENTER_NEW_PWD'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" >
                      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">{{'MGS_NEW_PWD_REQUIRED'|translate}}</div>
                      </div>
                      <div *ngIf="PwdStrengthPower.isShow">
                        <div class="col-xs-12 rdPaddingRight0px rdPaddingLeft0px rdAlignRight">
                            <span > {{PwdStrengthPower.text}}</span>
                        </div>
                        <div class="password-strength-content">
                            <span  [class]="PwdStrengthPower.className"></span>
                        </div>
                    </div>
                    </div>
                    <div class="form-group input-rounded">
                      <label for="inputPassword1">{{'CONFIRM_PWD'|translate}}</label>
                      <input type="password" maxlength="20" class="form-control" formControlName="confirmPassword" placeholder="{{'ENTER_CONFIRM_PWD'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">{{'MGS_CONFIRM_PWD_REQUIRED'|translate}}</div>
                        <div *ngIf="f.confirmPassword.errors?.MatchPassword">{{'Confirm Password not match'|translate}}</div>
                      </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-sm btn-primary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      {{'SUBMIT'|translate}}
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                   

                  </form>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-5">
        <div class="grid">
          <div class="grid-body">
                <p class="card-title ml-n1">{{'PWD_POLICY'|translate}}</p>
                <span>{{'PWD_MAX_CHAR'|translate}}</span>
                <ul>
                  <li> {{'PWD_UPR_CHAR'|translate}} </li>
                  <li> {{'PWD_LWR_CHAR'|translate}} </li>
                  <li> {{'PWD_SPL_CHAR'|translate}} </li>
                  <li>{{'PWD_DGT_CHAR'|translate}} </li></ul></div>

        </div>
      </div>
    </div>
  </div>