<div class="modal-header new_p0p_qq">
  <button type="button" class="close clsebtn_newdesign" (click)="bsModalRef.hide()"
    data-dismiss="modal">&times;</button>
</div>
<div class="modal-body feedback-modal-body">

  <div class="grid">
    <p class="grid-header">{{headerName}}</p>
    <div class="grid-body">
      <div class="item-wrapper">

        <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">

          <div class="row mb-3">
            <div class="col-md-12 mx-auto">

              <div class="form-group row showcase_row_area">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Branch Code" [formControl]="f.code">
                  <mat-error *ngIf="submitted && f.code.errors?.required">
                    Branch code is required
                  </mat-error>
                  <mat-error *ngIf="submitted && f.code.errors?.minlength">
                    Branch code must be at least 3 characters long.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group row showcase_row_area">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Branch Name" [formControl]="f.name">
                  <mat-error *ngIf="submitted && f.name.errors?.required">
                    Branch Name is required
                  </mat-error>
                  <mat-error *ngIf="submitted && f.name.errors?.minlength">
                    Branch Name must be at least 3 characters long.
                  </mat-error>
                </mat-form-field>
              </div>

              <ved-address [submitted]="submitted" [model]="address"
                (formReady)="addFormControl('branchAddress', $event)"></ved-address>
                
              <div class="form-group row showcase_row_area">
                <div class="col-md-5 showcase_text_area">
                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                  </button>
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
              </div>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<div class="modal-footer height56px">

</div>