<div class="row">
    <div class="col-md-9">
        <div class="ui comments" id="activities-feeds">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>User Activities</h3>
                </li>
                <div id="activities-feed-list">
                    <li class="list-group-item">
                        <div class="media" id="note_7502503"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/2052120">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/2052120">VINAY RAUT</a></div>
                                <div class="text">
                                    <p class="m-0"><b>COMMERCE TODAY </b> added new <b>admission (<a
                                                href="/branches/3993/students/2052120/admissions/792477/payment_details">B.com
                                                - III</a>)</b> for the student <b>VINAY KUMAR RAUT</b>.</p>
                                </div>
                                <div class="actions"><small class="reply grey">19 Nov, 2019 at 8:20 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7502498"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/2052120">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/2052120">VINAY RAUT</a></div>
                                <div class="text">
                                    <p class="m-0">COMMERCE TODAY added the student VINAY KUMAR RAUT.</p>
                                </div>
                                <div class="actions"><small class="reply grey">19 Nov, 2019 at 8:17 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7495021"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/2050021">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/2050021">BRIJMOHAN YADAV</a></div>
                                <div class="text">
                                    <p class="m-0"><b>COMMERCE TODAY </b> added new <b>admission (<a
                                                href="/branches/3993/students/2050021/admissions/792090/payment_details">B.com
                                                - III</a>)</b> for the student <b>BRIJMOHAN KUMAR YADAV</b>.</p>
                                </div>
                                <div class="actions"><small class="reply grey">18 Nov, 2019 at 8:03 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7495019"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/2050021">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/2050021">BRIJMOHAN YADAV</a></div>
                                <div class="text">
                                    <p class="m-0">COMMERCE TODAY added the student BRIJMOHAN KUMAR YADAV.</p>
                                </div>
                                <div class="actions"><small class="reply grey">18 Nov, 2019 at 8:03 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7459863"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/933011">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/933011">SONU SINGH</a></div>
                                <div class="text">
                                    <p class="m-0"><b>COMMERCE TODAY </b> added new <b>admission (<a
                                                href="/branches/3993/students/933011/admissions/790150/payment_details">B.com
                                                - I</a>)</b> for the student <b>SONU KUMAR SINGH</b>.</p>
                                </div>
                                <div class="actions"><small class="reply grey">12 Nov, 2019 at 11:08 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7459284"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" src="/pages/profile.png"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/1937242">MANISH KUMAR JHA</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/1937242">UMAR ALI</a></div>
                                <div class="text">
                                    <p class="m-0"><b>MANISH KUMAR JHA </b> cancelled <b>admission (<a
                                                href="/branches/3993/students/1937242/admissions/761828/payment_details">12th</a>)</b>
                                        for the student <b>UMAR ALI</b>.</p>
                                </div>
                                <div class="actions"><small class="reply grey">12 Nov, 2019 at 9:09 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7453016"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/960298">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/960298">MANISHA SAH</a></div>
                                <div class="text">
                                    <p class="m-0"><b>COMMERCE TODAY </b> added new <b>admission (<a
                                                href="/branches/3993/students/960298/admissions/789803/payment_details">B.com
                                                - I</a>)</b> for the student <b>MANISHA KUMARI SAH</b>.</p>
                                </div>
                                <div class="actions"><small class="reply grey">11 Nov, 2019 at 11:00 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7445756"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/2041233">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/2041233">AMAN MALLIK</a></div>
                                <div class="text">
                                    <p class="m-0"><b>COMMERCE TODAY </b> added new <b>admission (<a
                                                href="/branches/3993/students/2041233/admissions/789306/payment_details">12th</a>)</b>
                                        for the student <b>AMAN KUMAR MALLIK</b>.</p>
                                </div>
                                <div class="actions"><small class="reply grey">09 Nov, 2019 at 11:28 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7445647"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/2041233">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/2041233">AMAN MALLIK</a></div>
                                <div class="text">
                                    <p class="m-0">COMMERCE TODAY added the student AMAN KUMAR MALLIK.</p>
                                </div>
                                <div class="actions"><small class="reply grey">09 Nov, 2019 at 11:15 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media" id="note_7445072"><a class="media-left"><img
                                    class="media-object rounded-circle img-48" onerror="this.src='/pages/profile.png';"
                                    src="https://classpro-profile-images.s3.amazonaws.com/data/189254/thumb/COMMERCE_TODAY_LOGO.png?1532098555"></a>
                            <div class="media-body">
                                <div class="media-heading m-0"><a class="blue author" target="_blank"
                                        href="/branches/3993/students/1910847">COMMERCE TODAY</a>&nbsp;&nbsp;<i
                                        class="grey fa fa fa fa-caret-right"></i>&nbsp;&nbsp;<a class="blue author"
                                        target="_blank" href="/branches/3993/students/1910847">GAUTAM YADAV</a></div>
                                <div class="text">
                                    <p class="m-0"><b>COMMERCE TODAY</b> restored the student <b>GAUTAM KUMAR YADAV</b>.
                                    </p>
                                </div>
                                <div class="actions"><small class="reply grey">09 Nov, 2019 at 9:20 am&nbsp;&nbsp;<i
                                            class="fa fa-map-marker"></i>&nbsp;Commerce Today</small></div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="page" id="pagination"><a href="/feeds?page=2" data-remote="true" data-disable-with="loading....."
                class="twitter-pagination card card-block text-xs-center mb-0" rel="next" aria-label="next">more</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 students_filter hidden-sm-down" id="filter-sidebar"><br>
        <h2>Filter</h2>
        <h5>By User</h5>
        <ul class="filter-group list-unstyled" data-behaviour="user" id="topic_list">
            <li class="li_filter" data-user-id="6039"><span class="tag tag-default">COMMERCE TODAY</span></li>
            <li class="li_filter" data-user-id="5008"><span class="tag tag-default">MANISH KUMAR JHA</span></li>
        </ul>
        <h5>Branches</h5>
        <ul class="followup-filter-branch list-unstyled" data-behaviour="branch" id="select_branch_list">
            <li data-branch="3993"><span class="tag tag-default">Commerce Today</span></li>
        </ul>
       
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>