<div class="content-viewport">
  <p class="grid-header demo-wrapper">
    <span>Student Info</span>

  </p>


  <div class="item-wrapper">


    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Profile">
<ved-std-profile></ved-std-profile>
      </mat-tab>
      <mat-tab label="Enquiry">
        <ved-std-enquiry></ved-std-enquiry>
      </mat-tab>
      <mat-tab label="Admission" class="">
          <ved-std-admission></ved-std-admission>
      </mat-tab>
      <mat-tab label="Performance" class="">
          <ved-std-performance></ved-std-performance>
      </mat-tab>
      <mat-tab label="Attendance" class="">
          <ved-std-attendance></ved-std-attendance>
      </mat-tab>
      <mat-tab label="Punches" class="">
          <ved-std-punches></ved-std-punches>
      </mat-tab>
      <mat-tab label="Batch" class="">
          <ved-std-batch></ved-std-batch>
      </mat-tab>
      <mat-tab label="Academic" class="">
          <ved-std-academic></ved-std-academic>
      </mat-tab>
      <mat-tab label="Leaves" class="">
          <ved-std-leaves></ved-std-leaves>
      </mat-tab>
      <mat-tab label="Login" class="">
          <ved-std-login></ved-std-login>
      </mat-tab>
      <mat-tab label="Documents" class="">
          <ved-std-documents></ved-std-documents>
      </mat-tab>
      <mat-tab label="Assignments" class="">
          <ved-std-assignments></ved-std-assignments>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>