<div class="grid">
  <p class="grid-header demo-wrapper">
    <span>Standards Settings</span>
    <span class="float-right  btn btn-dark has-icon btn-rounded">
      <i class="mdi mdi-import"></i>Import</span>
    <span (click)="addStandard()" class="float-right btn btn-success has-icon btn-rounded">
      <i class="mdi mdi-account-plus-outline"></i>Add</span>
    <span class="float-none"></span>
  </p>




  <div class="item-wrapper">
    <div class="table-responsive">
      <table class="table table-hover" *ngIf="courseList">
        <thead>
          <tr>
            <th>Select All|None

              <label class="badge badge-info">{{courseList.length}} Standards</label>
            </th>


            <th>
              <div class="btn-group" dropdown>
                <button id="btnAll" dropdownToggle type="button"
                  class="btn btn-trasnparent action-btn btn-xs component-flat pr-0 dropdown-toggle"
                  aria-controls="ddlAll">
                  <i class="mdi mdi-dots-vertical"></i>

                </button>
                <ul id="ddlAll" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="btnAll"
                  x-placement="bottom-end">
                  <li role="menuitem" class="dropdown-item"><i class="mdi mdi-pencil-box-outline">Edit</i></li>
                  <li role="menuitem" class="dropdown-item"><i class="mdi mdi-delete-forever">Delete</i></li>

                </ul>
              </div>

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList">
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{'customCheck1'+course.id}}">
                <label class="custom-control-label" for="{{'customCheck1'+course.id}}">{{course.name}}</label>
              </div>
            </td>


            <td class="actions">
              <div class="btn-group" dropdown>
                <button id="{{'btn1'+course.id}}" dropdownToggle type="button"
                  class="btn btn-trasnparent action-btn btn-xs component-flat pr-0 dropdown-toggle"
                  [attr.aria-controls]="'ddl1'+course.id">
                  <i class="mdi mdi-dots-vertical"></i>

                </button>
                <ul id="{{'ddl1'+course.id}}" *dropdownMenu class="dropdown-menu" role="menu" [attr.aria-labelledby]="'btn1'+course.id"
                  x-placement="bottom-end">
                  <li role="menuitem" class="dropdown-item"><i class="mdi mdi-pencil-box-outline">Edit</i></li>
                  <li role="menuitem" class="dropdown-item"><i class="mdi mdi-delete-forever">Delete</i></li>

                </ul>
              </div>
            </td>
          </tr>
          

        </tbody>
      </table>
    </div>
  </div>
</div>