<div class="grid">
        <p class="grid-header demo-wrapper">
            <span >Standards Settings</span>  
            <span class="float-right  btn btn-dark has-icon btn-rounded">
                <i class="mdi mdi-import"></i>Import</span>
            <span (click)="addStandard()" class="float-right btn btn-success has-icon btn-rounded">
                <i class="mdi mdi-account-plus-outline"></i>Add</span>
                <span class="float-none"></span>

        </p>
         
            
            
        
        <div class="item-wrapper">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th >Select All|None

                      <label class="badge badge-info">4 Standards</label>
                  </th>

                 
                  <th>
                     

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" >
                          <label class="custom-control-label" for="customCheck1">10th Standard</label>
                      </div>
                  </td>
                 
                  
                  <td class="actions">
                    <i class="mdi mdi-dots-vertical"></i>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" >
                            <label class="custom-control-label" for="customCheck2">11th Standard</label>
                        </div>
                    </td>
                  <td class="actions">
                    <i class="mdi mdi-dots-vertical"></i>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" >
                            <label class="custom-control-label" for="customCheck3">12th Standard</label>
                        </div>
                    </td>
                  <td class="actions">
                    <i class="mdi mdi-dots-vertical"></i>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                            <label class="custom-control-label" for="customCheck4">Bsc</label>
                        </div>
                    </td>
                  
                  <td class="actions">
                    <i class="mdi mdi-dots-vertical"></i>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>